<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habits Builder</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Habits Builder</h1>
      </header>
      <main>
        <div id="app"></div>
      </main>
    </div>
    <footer class="buttons-container">
      <!-- <button id="edit-habit">Edit</button> -->
      <!-- <button id="delete-habit">Delete Habit</button> -->
      <button id="add-habit">Add Habit</button>
      <button id="logout">Logout</button>
    </footer>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
