<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habits Builder App - Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='loginStyles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <p style="font-weight: bold; font-size: larger">
        This is a Habit Builder App ✅
      </p>
      <p style="font-weight: bold; font-size: larger">
        That means you can add habits and mark them as done by tapping on them
        😁
      </p>
      <br />
      <form id="login-form">
        <input type="text" id="username" placeholder="Username" required />
        <input type="password" id="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
      <div id="error-message" class="error-message"></div>
      <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
  </body>
</html>
