<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Tracker App - Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Habit Tracker - Login</h1>
      </header>
      <main>
        <div id="app"></div>
      </main>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html> -->
